.redac {
    margin-top: 40px;


}

.t1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    /* grid-column-gap: 0px; */
    grid-row-gap: 0px;
    background-color: pink;
    
}

.div1 {
    grid-area: 1 / 2 / 2 / 3;
}

.div2 {
    grid-area: 2 / 2 / 3 / 3;
}







.p {
    margin-left: 20px;
 


}

.t {
    text-align: center;

   


}